/* html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color:  #0E8388;
    margin: 0;
}

nav{
    background-color: #2E4F4F;
    padding: 0;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    border-bottom: 2px solid black ;
    margin-top: 0;
}

nav ul li img{
    border-radius: 100px;
    object-fit: cover;
}

nav ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 2px;
}

a{
    text-decoration: none;
    color: black;
}

.Encabezado{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid black;
    padding: 5px;
}

.Habilidades{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.Habilidades div{
    text-align: center;
    border: 2px solid black;
    margin: 2px;
}

.Inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inactive{
    display: none;
}

#Informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Informacion img{
    border-radius: 100px;
}

#Presentacion{
    text-align: center;
    border-left: 2px solid black;
} */

html{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #0E8388;
    margin: 0px;
    /* padding: 20px; */
}

img{
    border-radius: 100px;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    background-color: white;
}

nav{
    background-color: #2E4F4F;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav ul li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

nav img{
    border-radius: 0;
}

.inactive{
    display:none;
}

.HV{
    margin-top: 10px;
    height: 653px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.Habilidades{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
}

.Habilidades div:nth-child(2n+1){
    background-color: #CBE4DE;
    border-right:2px solid black;
}

.Order{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.Encabezado{
    border-bottom: 2px solid black;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.Inicio{
    height: 350px;
    color: white;
    position: absolute;
    right: 40%;
    text-align: center;
}
.Inicio img{
    height: 50%;
    border-radius: 0;
    object-fit: cover;
}

#Perfil{
    border-radius: 100px;
}

#Informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #CBE4DE;
}

#Informacion img{
    border-radius: 100px;
}

#Presentacion{
    text-align: center;
    border-left: 2px solid black;
} 