html{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #B0DAFF;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
}

h2{
    background-color: white;
}

nav{
    background-color: #FEFF86;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav ul li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

nav img{
    border-radius: 0;
    height: 100px;
} 

.Order{
    display: grid;
    grid-template-columns: 1fr 2fr; 
    border-bottom: 2px solid black;
}

.Order div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Order div:nth-child(1){
    background-color: #CBE4DE;
    border-right: 2px solid black;
}

.Order a:hover{
    color:#19A7CE;
}

.Habilidades{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.Habilidades div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Habilidades div:nth-child(2n+1){
    background-color: #CBE4DE;
    border-right: 2px solid black;
}

.Inicio{
    height: 350px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: "./assets/FondoProgramacion.jpg";
}

.Inicio img{
    height: 70%;
    border-radius: 0;
}

.Consultas{
    display: flex;
    flex-wrap: wrap;
}

.Consultas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border: 2px solid #2C3333;
}

.Diseños{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Diseños div{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.Diseños img{
    width: 350px;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.Diseños a{
    border: 2px solid #2C3333;
    padding: 5px;
}

.producto button{
    padding-inline: 10px;
}

.catalogo nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #526D82;
    color: #DDE6ED;

}

.catalogo nav h2{
    color: black;
}

.catalogo nav ul{
    display: flex;
    list-style: none;
}

.catalogo nav ul li{
    padding-inline: 15px;
    font-size: 20px;
}

.catalogo nav ul li img{
    width: 25px;
    height: 25px;
}

.catalogo nav img{
    height: 70px;
    width: 70px;
    object-fit: cover;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#9DB2BF ;
    padding-block: 15px;
    height: 100%;
}

.producto p{
    padding-inline: 10px;
    font-size: auto;
}

.producto div ul{
    display: grid;
    grid-template-rows: repeat(4,1fr);
    gap: 15px;
    margin-inline: 25px;
}

.producto div ul li{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #DDE6ED;
} 

.producto div ul li img{
    width: 100px;
    height: 100px;
} 

.contacto{
    font-size: 100%;
    background-color: #CBE4DE;
    text-align: center;
}

.EjerJS{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.EjerJS .Preguntas li{
    background-color: #0E8388;
    border: 2px solid black;
    list-style: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    width: 100px;
}

li:hover{
    cursor: pointer;
}

.Preguntas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 10px
}

.Respuesta{
    text-align: center;
    padding: 100px;
}

.flashcard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tarjetas{
    background-color: #FF6000;
    margin: 10px;
}

.tarjetas h2{
    background-color: #FFA559;
}

.tarjetas img{
    height: 150px;
}

.frontal{
    background-color: #454545;
    color: #FFE6C7;
    text-align: center;
}

.tabla{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabla h2{
    color: #146C94;
    margin-block: 25px;
}


.tabla .sopa .ele{
    background-color: #B0DAFF;
    border: 2px solid black;
    padding: 5px;
}

.tabla .sopa .ele:hover{
    cursor: pointer;
    background-color: #146C94;
}

.Retos ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
}

.Retos ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.Retos ul li img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#Perfil{
    border-radius: 100px;
}

@media (max-width:550px){
    nav{
        background-color: #FEFF86;
    }
    
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        margin: 0;
    }
    
    nav ul li:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
    
    nav img{
        border-radius: 0;
        height: 100px;
    } 

    .Order{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        grid-template-columns: 1fr 2fr; 
        border-bottom: 2px solid black;
    }
    
    .Order div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Order div:nth-child(1){
        background-color: #CBE4DE;
        border-right: 2px solid black;
    }
    
    .Order a:hover{
        color:#19A7CE;
    }
    
    .Habilidades{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .Habilidades div{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Habilidades div:nth-child(2n+1){
        background-color: #CBE4DE;
        border-right: 2px solid black;
    }

    .Diseños{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    .Diseños img{
        width: 100%;
        height: 350px;
        border-radius: 10px;
        object-fit: cover;
    }
    
    .Diseños a{
        border: 2px solid #2C3333;
        padding: 5px;
    }

    .inactive{
        display: none;
    }
}