html{
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #0E8388;
    margin: 0px;
}

img{
    border-radius: 100px;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    background-color: white;
}

nav{
    background-color: #2E4F4F;
}

nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
}

nav ul li:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

nav img{
    border-radius: 0;
}

.Order{
    display: grid;
    grid-template-columns: 1fr 2fr; 
    border-bottom: 2px solid black;
}

.Order div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Order div:nth-child(1){
    background-color: #CBE4DE;
    border-right: 2px solid black;
}

.Habilidades{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
}

.Habilidades div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Habilidades div:nth-child(2n+1){
    background-color: #CBE4DE;
    border-right: 2px solid black;
}

.Inicio{
    height: 350px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Inicio img{
    height: 70%;
    border-radius: 0;
}

.Consultas div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

#Perfil{
    border-radius: 100px;
}